<!DOCTYPE html>
<html>
    <head>
          <title>index</title>
    </head>
    <body>
      <% if flash[:notice] %>
      <p><font color='green'><%= flash[:notice] %></font></p>
      <% end %>
     this is <font color='red'>index.html.erb</font>

    <br>


　　<table border='1'>
   <tr>
     <td>id</td>
     <td>名前</td>
     <td>メール</td>
     <td>登録日時</td>
     <td>更新日時</td>
   <tr>
    <% @all.each do |all| %>

    <tr>
    <td><%= all.id %></td>
    <td><%= all.name %></td>
    <td><%= all.email %></td>
    <td><%= all.created_at %></td>
    <td><%= all.updated_at %></td>
  </tr>
    <% end %>
  </table>
  </div>
    </body>

</html>
